html, body {
	margin: 0;
	padding: 0;
}

body {
    color: #333;
	font-size: 14px;
    font-family:
    	Verdana, Arial,
    	'ヒラギノ角ゴ Pro W3',
    	'Hiragino Kaku Gothic Pro',
    	Osaka,
    	'ＭＳ Ｐゴシック',
    	sans-serif;
    line-height: 160%;
    word-break: break-all;
}

#content .post_line,
#content hr {
    margin: 0 0 10px;
}

.social-area-syncer {
    padding: 30px 0 30px;
}